# RPM build
/rpmbuild
# Build temporaries
/RH*
/FC*
/UB*
/DEB*
/SUN*
# history files
.*history
# vim swap files
.*.sw*
.sw*
# obj files
*.o
*.so
*.out
*.output
core.[0-9]?*
# gen files
/include/desh/token.h
/src/initial.c
/src/sigmsgs.c
/src/y.tab.c
